﻿@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService AuthorizationService
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if ((await AuthorizationService.AuthorizeAsync(User, "Administrator")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "User")).Succeeded)
{

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="authBoxes">
                <input class="authBoxes" type="text" id="userInput" disabled="True" value="@User.Identity.Name" name="messageInputBox" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="authBoxes"><input class="authBoxes" type="text" id="messageInput" onkeypress="keyPressHandler(event);" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6list">
            <ul class="msgListUl" id="messagesList"></ul>
            </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
else
{
    <p>Please authenticate.</p>
}
