﻿@model WebApplication1_mvc.Models.BookRepo
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of publications</h1>


    @if ((await AuthorizationService.AuthorizeAsync(User, "Administrator")).Succeeded)
    {
        foreach (var i in Model.GetAll())
        {
            <p>@i.ToString()</p>
        }
    }
    else
    {
        <p>Please authenticate.</p>
    }

</div>
