﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


@if ((await AuthorizationService.AuthorizeAsync(User, "Administrator")).Succeeded)
{
    <p>Use this page to detail your site's privacy policy.</p>
}
else
{
    <p>Please authenticate.</p>
}
